<div class="featurette" id="about" style="background-color: green;">
              <img class="featurette-image img-circle img-responsive pull-left" src="https://i.imgur.com/Wm9G27A.jpg">
              <h2 class="featurette-heading">Lula</h2><br>
              <h3><span class="text-muted"id='partido'>PT</span>
              <br>
              <span class="text-muted" id='atualcargo'>Ex Presidente</span>
              </h3>
              <% pull_left = false %>
  
          </div>
<div class="featurette" id="about" style="background-color: yellow;">
          <img class="featurette-image img-circle img-responsive pull-right" src="https://i.imgur.com/0Qu116J.jpg">
          <div id="content">
          <h2 class="featurette-heading">Bolsonaro</h2><br>
          <h3><span class="text-muted"id='partido'>PSL</span>
          <br>
          <span class="text-muted" id='atualcargo'>Deputado Federal</span>
          </h3>
          <% pull_left = true %>
          </div>
      </div>