<!-- Page Content -->
<div class="container">
    <div class="form-group">
        <label>Sobre a Reforma Agrária</label>
        <label class="radio-inline">
            <input type="radio" name="1" id="A" value="option1">A favor
        </label>
        <label class="radio-inline">
            <input type="radio" name="1" id="B" value="option2">Contra
        </label>
        <label class="radio-inline">
            <input type="radio" name="1" id="C" value="option3">Não tenho Opinião
        </label>
    </div>
    <div class="form-group">
        <label>Sobre a Privatização de Empresas Publicas</label>
        <label class="radio-inline">
            <input type="radio" name="2" id="A" value="option1">A favor
        </label>
        <label class="radio-inline">
            <input type="radio" name="2" id="B" value="option2">Contra
        </label>
        <label class="radio-inline">
            <input type="radio" name="2" id="C" value="option3">Não tenho Opinião
        </label>
    </div>
    <div class="form-group">
    <label>Sobre a Policia Militar</label>
    <label class="radio-inline">
        <input type="radio" name="3" id="A" value="option1">Acho violenta num geral
    </label>
    <label class="radio-inline">
        <input type="radio" name="3" id="B" value="option2">Não acho violenta
    </label>
    <label class="radio-inline">
        <input type="radio" name="3" id="C" value="option3">Acho violenta em determinados casos
    </label>
    <label class="radio-inline">
        <input type="radio" name="3" id="D" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Sobre a Desmilitarização da Policia Militar</label>
    <label class="radio-inline">
        <input type="radio" name="4" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="4" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="4" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Sobre a reforma política: você é contra ou a favor?</label>
    <label class="radio-inline">
        <input type="radio" name="5" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="5" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="5" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>O presidente precisa ter noção essencialmente em que área profissional ?</label>
    <label class="radio-inline">
        <input type="radio" name="6" id="A" value="option1">Direito
    </label>
    <label class="radio-inline">
        <input type="radio" name="6" id="B" value="option2">Administração
    </label>
    <label class="radio-inline">
        <input type="radio" name="6" id="C" value="option3">História
    </label>
    <label class="radio-inline">
        <input type="radio" name="6" id="D" value="option3">Ciências Sociais
    </label>
    <label class="radio-inline">
        <input type="radio" name="6" id="E" value="option3">Economia
    </label>
    <label class="radio-inline">
        <input type="radio" name="6" id="F" value="option3">Outros
    </label>
    <label class="radio-inline">
        <input type="radio" name="6" id="G" value="option3">Não acho essencial
    </label>
    </div>
    <div class="form-group">
    <label>Sobre a Ditadura Militar</label>
    <label class="radio-inline">
        <input type="radio" name="7" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="7" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="7" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Sobre o impeachment de Dilma</label>
    <label class="radio-inline">
        <input type="radio" name="8" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="8" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="8" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Você concorda com a reforma da previdência?</label>
    <label class="radio-inline">
        <input type="radio" name="9" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="9" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="9" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Sobre a legalização do Aborto</label>
    <label class="radio-inline">
        <input type="radio" name="10" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="10" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="10" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Sobre Intervenção Militar</label>
    <label class="radio-inline">
        <input type="radio" name="11" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="11" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="11" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Você é a favor ou contra da reforma do ensino médio?</label>
    <label class="radio-inline">
        <input type="radio" name="12" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="12" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="12" id="C" value="option3">Não tenho Opinião
    </label>
    </div>
    <div class="form-group">
    <label>Sobre a legalização da maconha</label>
    <label class="radio-inline">
        <input type="radio" name="13" id="A" value="option1">A favor
    </label>
    <label class="radio-inline">
        <input type="radio" name="13" id="B" value="option2">Contra
    </label>
    <label class="radio-inline">
        <input type="radio" name="13" id="C" value="option3">Não tenho Opinião
    </label>
    </div>


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Meu Candidato 2018</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->